:root {
  --gray: #B7B5B5;
  --blue: #508da7;
  --white: #fff;
}

header {
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;

}

body {
  background-color: rgb(230, 230, 230);
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

nav {
  padding: 10px;
}

li {
  padding: 10px;
  justify-content: end;
}

ul {
  list-style: none;
  display: flex;
  padding: 5px;

}

div {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: end;

}

header h1 {
  padding-left: 10px;
}

h3 {
  border-right: solid black;
  margin-right: auto;
  display: flex;
}

.banner-img {
  background-image: url("../images/me\ lol.jpeg");
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.banner-img h2 {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

section .contact {
  display: flex-end;
  justify-content: space-between;
}

section .card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about {
  display: flex;
  justify-content: space-between;
  padding: 60px;

}

.card {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  justify-content: space-between;
  padding: 60px;
}

.card1 h3 {
  flex-basis: 20%;
}

.about h3 {
  flex-basis: 80%;
}

.contact h3 {
  flex-basis: 20%;
}

.moves:hover{
  background-color: aqua;
  color: gray;
}

.card2 h4 {
  background-image: url(../images/horizon.png);
  display: flex;
}





/* @media screen and max-width */